.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #000000; /* Button color */
    color: white;
    border-radius: 5px; /* Rounded corners */
    border: none;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #434343;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.align{
    flex-direction: column;
     text-align: center;
}

[type="text"]{
     width: 100% ;
     border-radius: 5px;
     margin-bottom: 2.5%;
     margin-top: 0%;   
}

#content{
    height: 25vh;
    flex-basis: 10%
}
 
footer {
    margin-bottom: 0px;
}

label{
    display: flex;
    justify-content: start;
}
 
body{
    margin-left: 1%;
    margin-right: 1%;
}
 
h1{
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin-top: 20px;
    border-radius: 15px;
}

h2{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1%;
}
 
h4{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 1%;
}

a{  
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}

[href="/blog"]{
    font-size: 1rem;
}
 
.introSpan{
    font-weight: 400;
    font-size: 3.5rem;
}

p{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
}

.nav-link {
    color: #ffffff;  
}
 
.nav-link:hover {
    color: #b7b7b7;    
}


@media (min-width: 768px) {
    header {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px;
        position: sticky;
        top: 0;
        z-index: 1000; 
        width: 100%;
        padding-top: 0px;
        padding-bottom: 5px;
        margin-top: 5px;
    } 
}